/* Basic styles
-------------------------*/
* {
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 22px;
  opacity: 0.9;
  text-align: center;
  margin: 0;
  padding: 0;
}

body,
nav,
#mission div,
.feature-box,
footer {
  background: black;
}

body,
a {
  color: seashell;
}

h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}
/* internal links jumping to correct locations so they are not covered by fixed header */
#mission,
#featured-tea,
#locations {
  padding-top: 69px;
}

.section-title {
  margin: 10px 0 20px 0;
}

.section-subtitle {
  margin: 10px 0;
}

/* Header and Nav
-------------------------*/
nav {
  width: 100%;
  height: 69px;
  border-bottom: 1px solid seashell;
  position: fixed;
  top: 0;
  z-index: 5;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  padding-left: 10px;
  height: 50px;
}

nav li {
  display: inline-block;
  margin: 0 10px;
}



/* Main Container
--------------------------*/
.main-container {
  width: 1200px;
  margin: 0 auto;
}


/* Section - Mission
--------------------------*/
#mission {
  background: url(../images/background.jpg) no-repeat;
  background-size: cover;
  height: 700px;
  display: flex;
  align-items: center;
}

.banner-text {
  flex-grow: 1;
}

/* Section - Featured Tea
----------------------------*/

#featured-tea {
  width: 1000px;
  margin: inherit;
  padding-bottom: 69px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.gallery-item-img {
  width: 300px;
  height: 200px;
  margin: 10px;
}

.gallery-item-caption {
  margin: 0;
  font-weight: bold;
}

/* Section - Locations
--------------------------------*/

#locations {
  background: url("../images/locations.jpg") no-repeat;
  height: 500px;
}

#locations h2 {
  margin: 10px 0 0 0;
}

.feature-boxes {
  display: flex;
  justify-content: center;
}

.feature-box {
  width: 300px;
  opacity: 1;
  margin: 15px 20px 0 20px;
  line-height: 3;
}

/* Footer
-------------------------*/
.footer {
  margin: 0 auto;
}

.contact {
  height: 200px;
}

.copyright {
  padding-left: 20px;
  text-align: left;
}
